.root{
    -fx-background-color: #ccff88;
    /* später wird  es aufregender... */
    -fx-background-color: linear-gradient(to top, rgb(2, 9, 36, 1) 0%, rgb(9, 9, 121, 1) 19%, rgb(0, 212, 255, 1) 100%);
    -fx-background-image: url("Banana.png");
    -fx-background-size: cover;
}
.label{
    -fx-text-fill: Tomato;
    -fx-font-weight: bold;
    -fx-font-size: 15;
}
#chef{
    -fx-text-fill: lightblue;
    -fx-font-size: 18;
}
.button:hover{
    -fx-background-color: green;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, yellow, 20,0,0, 9);
}